/* Register component css */
.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.register-form {
    width: 300px;
}

.register-form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.register-form button {
    /* width: 100%; */
    padding: 0.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.register-form button:hover {
    background-color: #0056b3;
}

/* login component */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .login-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .login-form {
    width: 300px;
  }
  
  .login-form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .login-form button {
    flex: 1;
    padding: 0.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  

/* Not Found CSS */
.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.not-found-heading {
    font-size: 6rem;
    margin-bottom: 1rem;
    color: #ff5f5f;
}

.not-found-message {
    font-size: 1.5rem;
    color: #333;
}